ul {
  padding: 15px;
  min-width: 300px;
  width: 25vw;
  border: solid 1px black;
}

li {
  font-size: large;
  list-style: none;
  object-fit: contain;
}

.button {
  margin: 5px 0;
  padding: 15px;
  width: 100%;
  min-height: 50px;
  height: 5vw;
  border-radius: none;
  border: none;
  text-align: left;
  cursor: pointer;
  text-transform: capitalize;
}
